extends layout

block content
 .container
  h1 Welcome to your Weather App
  br
  br
  h2.ip Tuning in from IP Address:
  br
  h2.long Longitude:
  h2.lat  Latitude
  br
  h1.currentWeather Placeholder
  h2.temp
  br
  form(action='/' method='post')
   .form-group
    input.form-control(type='text' name="location" placeholder='Location' )
   Button.form-control(type="submit" class='btn btn-info' id="click") Submit

  br
  h1.weather