body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: url('http://www.psdgraphics.com/file/colorful-triangles-background.jpg')*/
}

a {
  color: #00B7FF;
}

.container{
  text-align: center;
}
h1{
  font-size: 40px;
  font-style: bold;
}